.wrapper {
  width: 100%;
  position: relative;
}

.wrapper:before {
  content: '';
  padding-bottom: 100%;
  display: block;
}

amp-img img {
  width: 100%;
  height: 100%;
}

amp-img.fill img {
  object-fit: fill;
}

amp-img.contain img {
  object-fit: contain;
}

amp-img.cover img {
  object-fit: cover;
}

amp-img.none img {
  object-fit: none;
}

amp-img.scale-down img {
  object-fit: scale-down;
}
